.SearchResults {
  overflow-y: scroll;
  padding: 1.8rem 4.87rem 0.2rem;
  background-color: #7F99AC;
  position: relative;
  top: 1.7rem;
  left: 18.4rem;
  margin-bottom: 0;
  width: 24.84%;
  height: 517px;

  /* Firefox (Only) Fallback */
  scrollbar-color: #ACCEE8 #5E788D;
  scrollbar-width: thin;
}

.section_title {
  position: absolute;
  left: 18.4rem;
  top: 6.7rem;
  background-color: #7F99AC;
  padding: 1rem 12.78rem;
}

/* Safari/Chome Specific */
.SearchResults::-webkit-scrollbar {
  width: .4rem;
  -webkit-appearance: scrollbarthumb-vertical;
}
.SearchResults::-webkit-scrollbar-track {
  border-radius: 54px;
  background: #5E788D;
}
.SearchResults::-webkit-scrollbar-thumb {
  background-color: #ACCEE8;
  border-radius: 54px;
}


  