body,
html,
#root {
  height: 100%;
  min-width: 300px; 
  background-color: #44769C;
}

html {
  font-size: 18px;
}

h1 {
  padding: .4rem 0;
  margin: auto; 
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.88rem;
  color: #fff;
  background-color: #2F516B;
  z-index: 1; 
}

h2 {
  padding: 1rem 0 .65rem; 
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
  text-align: center; 
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  text-align: center;
  margin-top: 2.3rem;
  color: white;
}

.Notes {
  visibility: hidden; 
}

.App .Explainer-Text {
  position: absolute; 
  color: white; 
  top: 120px; 
  left: 22px; 
  text-align: left;
  font-size: 20px;
  font-weight: normal;  
  max-width: 8%;
  margin: auto;
  line-height: 1.8rem;
}

.App .Explainer-Text span {
  font-size: 0.8rem;
  vertical-align: top;
}

.App-playlist {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.banner {
  display: flex;
  position: relative; 
  position: relative;
  top: 1em;
  width: 100%
}

.banner p {
  padding: 1.4rem 0;
  position: relative; 
  color: white; 
  text-align: center;
  background-color: #7F99AC;
  font-weight: 600;
  order: 2; 
  width: 77%; 
}

#logo {
  padding: 1rem 0; 
  order: 1; 
  width: 23%; 
  margin: unset; 
}

.Notes {
  visibility: visible;
  color: white;  
}

.Notes p:first-child {
  position: absolute;
  bottom: 1.2rem;
  left: 49.95rem;
  font-size: 11px;
  font-style: italic;
  text-align: center;
  background-color: #7F99AC;
  padding: 2.6rem 6.375rem 0.5rem;
}

.Notes p:last-child {
  position: absolute;
  bottom: 5rem;
  font-size: 11px;
  left: 74.5rem;
  z-index: 1;
  color: rgba(255,255,255,80%);
}

img {
  position: absolute;
  top: 21rem;
  width: 19%;
  height: 38%;
  left: 1.5rem;
  z-index: 0;
}

.img-container  { 
  display: initial; 
  position: absolute; 
  right: 10%; 
  top: 16%; 
} 