.SearchBar {
  position: relative;
  background-color: white;
  top: 2.02rem;
  left: 18.4rem;
  z-index: 2;
  width: 29.6rem;
  margin: unset;
}

.SearchBar input {
  width: 65%; 
  padding: 1rem 2rem ;
  color: black;
  font-size: 1rem;
  border: unset; 
}

.SearchBar input:focus {
  outline: none;
}

.SearchButton {
  position: relative;
  right: 2rem;
  bottom: 0.05rem;
  cursor: pointer;
  width: 5.5rem;
  padding: 0.4rem 0;
  border-radius: 5.4rem;
  background-color: #66B0E8;
  text-align: center;
  font-size: .833rem;
  transition: background-color .25s;
  border: 0px;
  color: #fff;
  font-weight: 500;
}

.SearchButton:hover {
  background-color: rgba(47, 81, 107, 80%);
}