.Playlist {
  overflow-y: scroll;
  padding: 0.2rem 4.87rem 4.5rem;
  background-color: #7F99AC;
  position: relative;
  top: 1.4rem;
  right: 9.42rem;
  margin-bottom: 0;
  width: 13.62%;
  height: 480px;
  display: flex;
  flex-direction: column;

  /* Firefox (Only) Fallback */
  scrollbar-color: #ACCEE8 #5E788D;
  scrollbar-width: thin;
}

.Playlist-save {
  position: absolute;
  top: 36.5rem;
  cursor: pointer;
  width: 10rem;
  border-radius: 54px;
  border-width: 0px;
  background-color: #ACCEE8;
  text-align: center;
  font-size: .83rem;
  transition: background-color .25s;
  color: #fff;
  font-weight: 500;
  height: 1.9rem;
  left: 55rem;
  z-index: 3; 
}

.Playlist-save:hover {
  background-color: #3D6889;
}

.Playlist::-webkit-scrollbar {
  width: .4rem;
}
.Playlist::-webkit-scrollbar-track {
  border-radius: 54px;
  background: #5E788D;
}
.Playlist::-webkit-scrollbar-thumb {
  background-color: #ACCEE8;
  border-radius: 54px;
}